body{
    background-color: black;
}
.cont{

    background-color:rgb(255, 255, 255) ;
    width: 430px;
    height: 55px;
    border-radius: 20px;
    margin: 10px 400px;
 
}
.cont h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    display: flex;
    margin: 1px 30px;
    padding: 17px 16px;
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.cont a{
    text-decoration: none;
 
}
img{
    width: 100px;
}

h2{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}
@media (max-width: 800px){
    h2{
        left: 120px;
        top: 10px;
        position: absolute;
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
    .cont{

        background-color:rgb(255, 255, 255) ;
        width: 330px;
        height: 55px;
        border-radius: 20px;
        margin: 60px 20px;
     
    }
    .cont h1 {
        color: rgb(0, 0, 0);
        display: flex;
        margin: 1px 30px;
        padding: 13px 13px;
        font-family: "League Spartan", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      
    }
    img{
        width: 70px;
    }
    
    h2{
       
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }                                                                                                                                                                                                                                                                           
}